<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input v-if="!showEditForm" type="text" v-model="newUserName" />
      <button v-if="!showEditForm" @click="addUser">Add</button>
      <input v-if="showEditForm" type="text" v-model="editUserName" />
      <button v-if="showEditForm" @click="editUserConfirm">Update</button>
      <ul>
        <li v-for="(user,index) in users">
          <p>
            {{user.name}}
            <button @click="editUserPressed(index)">Edit</button> ||
            <button @click="removeUser(index)">Delete</button>
          </p>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
